@using MovieWebApp.Models
@model FooterViewModel


<div class="container">
    &copy; 2022 - MovieWebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
    Last updated Time: @Model.LastUpdatedTime
</div>

